{% extends 'layout/default.html.twig' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><center>Nederland/België</center></h1>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6 text-right">
                <a class="btn btn-secondary" href="{{ url('nlbelevering')}}" role="button" target="_blank">NL/BE Leverplanning</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-secondary" href="{{ url('nlbemonteur')}}" role="button" target="_blank">NL/BE Monteurplanning</a>
            </div>
            
        </div>

    </div>


{% endblock %}