<html>
<style>

	.knop {
	    color: white;
	    padding: 8px;
	    font-size: 16px;
	    border: none;
	}

	.knop:hover{
	  text-decoration: none;
	  background-color: none;
	  color: red;
	}

</style>

    <a class="knop" href="{{ url('nlbelevering')}}" target="_blank">NL/BE Leverplanning</a>
    <a class="knop" href="{{ url('duitslandlevering')}}" target="_blank">Duitsland Leverplanning</a>
    <a class="knop" href="{{ url('nlbemonteur')}}" target="_blank">NL/BE Monteurplanning</a>
    <a class="knop" href="{{ url('duitslandmonteur')}}" target="_blank">Duitsland Monteurplanning</a>

</html>
